/* 
////// For challenge 5 ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

/* nav bar */

header {
  background-color: #008080;
  padding: 1.5em 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  align-items: center;
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
}

.nav-item {
  text-transform: uppercase;
}

/* aligning to the container edges */
.nav-item + .nav-item, .signup {
  margin-left: 3vw;
}

ul li:hover {
  cursor: pointer;
  animation: menu-anim .3s;
  
}

@keyframes menu-anim {
  from {
    color: white;

  }
  to {
    color: orangered;
  }
}

.signup {
  background-color: white;
  border-radius: 1em;
  color: #008080;
  padding: .5em .8em;
}

.signup:hover {
  box-shadow: 0 0 .4em black;
}

/* Hero section */

.hero {
  background-color: #083947;
  color: white;
  padding-top: 5%;
  padding-bottom: 10%;
}

.hero__flex {
  display: flex;
  justify-content: space-between;
}

/* .hero__col1, .hero__col2 {
  width: 45%;
} */

.hero__col1 {
  width: 60%;
}

.hero__col2 {
  width: 35%;
}

.hero__col2 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hero h1, p {
  margin-top: 10%;
  margin-bottom: 15%;
}

.cta {
  border-radius: 15px;
  background-color: teal;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: .75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.cta:hover {
  animation: menu-anim .3s;
  color: orangered;
}

@media screen and (max-width: 550px) {
  .hero__wrapper {
    width: 100%;
  }

  .cta {
    background-color: tomato;
    display: block;
    margin: 0 20%;
    text-align: center;
  }
}


/* mid-section */

.flex {
  display: flex;
  justify-content: space-between;
}

.mid-section-right {
  padding-bottom: 40px;
  padding-top: 40px;
}

@media screen and (max-width: 550px) {
  .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feat {
  min-width: 150px;
  text-align: center;
  width: 100%;
}

.lower-body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

}

.mid-section-left {
  align-self: flex-start;
  padding-top: 35px;
  width: 60%;
}

.mid-section-left h2 {
  color: #106e7a;
}

.mid-section-right {
  background-color: #106e7a;
  color: white;
  display: flex;
  flex-direction: column;
  width: 35%;

}

