*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/* Hero section */

.hero {
  background-color: #083947;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cta {
  border-radius: 15px;
  background-color: teal;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: .75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}